<!--Aqui va estar la parte de navegacion-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Control de Sucursales</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mcdonal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Burger King</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Starbucks</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Pizza Hot</a>
                </li>

            </ul>
        </div>
    </div>
</nav>