//En este apartado se puede agregar una imagen de fono anterios

/*.carousel-inner {
    background-position: center center;
    background-size: cover;
    height: 20vh;
    min-height: 40rem;
    //background-color: blanchedalmond;
    //NOTA a diferencia de css en scss no ocupamos las comillas para llamar a la imagen recordar siempre
    background-image: url(assets/img/mcdonal.svg);
}*/


/*
.carousel-item-mcdonal {
    background-image: url(assets/img/mcdonal.svg);
}*/